{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rezervace lístků</title>
    <link href="https://fonts.googleapis.com/css?family=Courgette|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "frontend/assets/font-awesome.css"%}">
    <link rel="stylesheet" href="{% static "frontend/main.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<!-- Modal -->
  <body style="background-image: url({% static "frontend/assets/background.png" %})">
    <form action="{% url 'create_reservation' %}" method="post" id="reservation-form">
      <div class="modal fade" id="shopping" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Dokončení rezervace</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                <div class="form-group">
                  <label for="inputName">Jméno</label>
                  <input type="text" class="form-control" name="name" id="inputName" aria-describedby="emailHelp" placeholder="Zadejte prosím své jméno">
                </div>
                <div class="form-group">
                  <label for="inputEmail">E-mailová adresa</label>
                  <input type="email" class="form-control" name="email" id="inputEmail" aria-describedby="emailHelp" placeholder="Zadejte svůj email">
                </div>
                <div class="form-group">
                  <label for="inputPhone">Telefon</label>
                  <input type="phone" class="form-control" name="phone" id="inputPhone" placeholder="Zadejte prosím své telefonní číslo">
                </div>
                <div class="form-group">
                  <label for="inputBarSeats">Lístky na bar</label>
                  <input type="text" onkeyup="updatePrice()" onkeypress='return [46, 8, 9, 27, 13, 110, 190].includes(event.keyCode) || (event.keyCode >= 35 && event.keyCode <= 39) || (event.charCode >= 48 && event.charCode <= 57)' min="0" max="100" class="form-control" name="bar_seats" id="inputBarSeats" placeholder="Lístky na bar" value=0>
                </div>
                <i class="fa fa-ticket"></i> (<span id="price"></span> Kč) × <span id="tickets_number_shopping">0</span> = <span class="text-success"><span id="full_price">10000</span> Kč</span>
                <div id="places">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
              <button type="submit" class="btn btn-success">Koupit lístky</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="container">
      <header>
          <img class="logo" src="{% static "frontend/assets/logo-simple.png" %}">
          <div class="text">
            <h1 class="title"><strong>Farní</strong> ples 2018</h1>
            <h2 class="subtitle">Odoláte pokušení nejít?</h2>
          </div>
      </header>
        <div class="alert alert-success alert-dismissible fade" id="shopping_done" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button><br>
          </button>
          <h4 class="alert-heading">Super rezervace je hotová!</h4>
          <strong>Vyčktejte na kontakt!</strong> Naši pracovníci rezervaci zpracují a budou Vás kontaktovat. Pokud by jste měli nějaké požadavky,
          <a href="mailto:farniplesmb2018@gmail.com">pište</a>
        </div>
      <div class="row row-eq-height">
          <div class="col-sm-4">
            <div class="card bg-primary text-white">
              <div class="card-body">
                <h3 class="card-title-icon">
                  <i class="fa fa-check-square"></i> Návod <i class="fa fa-check-square"></i>
                </h3>
                <div class="card-text">
                  <ol>
                    <li>Vyberte si místa u stolu a zvolte: Rezervovat</li>
                    <li>Vyplňte jméno a e-mail</li>
                    <li>Přidejte počet případných lístků ke stání</li>
                    <li>Potvrďte rezervaci</li>
                    <li><strong>Rozhodněte si, zda chcete pomoci sponzorským lístkem a lístky si vyzvedněte po některé z nedělních mší, nebo na místě.</strong></li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4  ">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title-icon">
                  Rychlý nákup <i class="fa fa-fighter-jet" aria-hidden="true"></i>
                </h3>
                <div class="card-text">
                  <p>
                    Sedět nechci, budu tančit, nebo u baru. Chci rezervovat lístky na stání
                  </p>
                  <button class="btn btn-danger" data-toggle="modal" data-target="#shopping"> Lístky ke stání</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card bg-farni text-white">
              <div class="card-body">
                <h3 class="card-title-icon">
                  Podpořte nás: <i class="fa fa-handshake-o" aria-hidden="true"></i>
                </h3>
                <div class="card-text">
                  <ul>
                    <li>Informujte rodinu, přátele</li>
                    <li><strong>Chcete-li nám pomoci pokrýt vysoké náklady plesu, podpořte nás koupí sponzorského lístku za 400 Kč. Platit se bude při předání :-)</strong></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="scrolling">
        <div id="playground">
        </div>
      </div>
    </div>
    <div class="bg-light py-2 mb-0">
      <div class="container mt-5">
        <div class="footer row">
          <div class="col-sm-6">
            <h4>Kontakty</h4>
            <p>V případě nejasností se nebojte nás kontaktovat. <a href="mailo:farniplesmb2018@gmail.com">farniplesmb2018@gmail.com</a></p>
          </div>
          <div class="col-sm-6">
            <h4>Credits</h4>
            <p>S láskou k farním plesům vytvořil <a href="mailto:ondrej.kolin@gmail.com">Ondřej Kolín</a></p>

          </div>
        </div>
      </div>
    </div>
    <div class="bg-light spacer">

    </div>
    <footer>
        <div class="cart">
          <!--
          <div class="float-left">
              <a class="btn btn-warning"><i class="fa fa-level-up"></i> <span id="level"></span></a></span>
          </div>
          -->
          <div class="float-right">
             <i class="fa fa-ticket"></i> Vybráno lístků: <span id="tickets_number">0</span>
             <button data-toggle="modal" id="shopping_button" data-target="#shopping" class="ml-2 btn btn-success float-right">Rezervovat <i class="fa fa-shopping-cart"></i></button>
           </div>
      </div>
    </footer>
    <script src="{% static "frontend/p5.js" %}"></script>
    <script src="{% static "frontend/reservoir.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="{% static "frontend/main.js" %}"></script>
  </body>
</html>
